*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;  
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

#logo-odin{
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 3.5em;
    font-family: 'Courier New', Courier, monospace;
    height: 160px;
}

#odin{
    height: 135px;
    width: auto;
    padding: 5px;
}

#content{
    flex: 2; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(217, 217, 217);
}



#image-container{
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100vh;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 40px;
    font-size: 20px;
    background-color: rgb(217, 217, 217);
    flex: 1;
}

.text-para{
    max-width: 700px;
    line-height: 1.5;
}

#form-container{
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-in-form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 calc(50% - 20px); 
    min-width: 250px;
}

#sign-in-form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px 40px;
}

#button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    flex: 1;
}

#sign-in-button{
    border-radius: 8px;
    height: 35px;
    width: 165px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#sign-in-button:hover{
    background-color: rgb(89, 109, 72, 0.9);
    cursor: pointer;
}

#log-in-link{
    text-decoration: none;
    color: black;
}

#log-in-link:hover{
    text-decoration: underline;
    color: blue;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 10px;
    width: 250px; 
    outline: none;
}

input:focus {
    border-color: #1c4fc8; 
    box-shadow: 0 0 5px rgba(89, 109, 72, 0.3);
}

input:invalid{
    border: 2px solid red;
    color: red;
}

label {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4B5563;
    margin-bottom: 5px;
}