*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    min-height: 100vh;  
    width: 100vw;
}

#logo-odin{
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    font-size: 3.5em;
    height: 160px;
}

#odin{
    height: 150px;
    width: auto;
}

#content{
    flex: 2; 
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 217, 217);
}



#image-container{
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100vh;
}

#form-container{
    background-color: white;
}

#form-container > #sign-in-form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sign-in-form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}